@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

header {
  background: rgb(243 243 243);
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  padding: 20px 0 30px 0;
}

.logo {
  display: flex;
  align-items: center;
  margin: 0 0 0 55px;
}

.logo img {
  height: 50px;
  width: 60px;
}
.panel {
  display: flex;
  align-items: center;
}
.panel ul {
  display: flex;
  height: 100%;
  margin: 0;
  align-items: center;
}
.panel li {
  display: flex;
  align-items: center;
  list-style-type: none;
  height: 100%;
  margin: 0 20px 0 20px;
}

.toggle-tablet-menu {
  padding: 0 0 0 40px;
}

.nav-bar-tablet {
  display: none;
  padding: 1px 0 10px 0;
}

.tablet-menu li {
  list-style-type: none;
  height: 100%;
  width: 100%;
  padding: 20px 0 20px 0;
}

.tablet-menu a {
  color: black;
  height: 100%;
  text-decoration: none;
}

.tablet-menu a :hover {
  animation: navbar-color 0.2s ease-in 0s 1 normal forwards;
}

.toggle-tablet-menu {
  height: 50px;
  position: relative;
}

.menu-toggler {
  cursor: pointer;
  padding: 0 0 0 40px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.menu-toggler-focused {
  animation: toggler-color 0.2s ease-in 0s 1 normal forwards;
}

.toggler-el {
  margin: 8px 0 8px 0;
  height: 3px;
  width: 30px;
  background-color: black;
}
.tablet-menu {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.tablet-logo {
  height: 50px;
  width: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.panel a {
  color: black;
  height: 100%;
  text-decoration: none;
}

.panel a :hover {
  animation: navbar-color 0.2s ease-in 0s 1 normal forwards;
}

.calling-btn {
  height: 50px;
  border-radius: 5px;
  margin: 0 0 0 30px;
  padding: 0 30px 0 30px;
  border: 1px solid rgb(226, 124, 58);
  color: rgb(226, 124, 58);
}
.calling-btn:hover {
  animation: white-button 0.2s ease-in 0s 1 normal forwards;
}
.request-btn {
  height: 50px;
  border-radius: 5px;
  margin: 0 55px 0 30px;
  padding: 0 30px 0 30px;
  background: rgb(226, 124, 58);
  font-size: 12px;
  border: none;
  color: white;
}
.request-btn:hover {
  animation: orange-button 0.2s ease-in 0s 1 normal forwards;
  padding: 0 29px 0 29px;
  border: 1px solid rgb(226, 124, 58);
}
.about {
  display: flex;
  justify-content: space-around;
  height: 700px;
  padding: 0 0 0 80px;
}

.about-request-btn {
  height: 50px;
  border-radius: 5px;
  padding: 0 35px 0 35px;
  background: rgb(226, 124, 58);
  font-size: 12px;
  border: none;
  color: white;
}

.about-request-btn:hover {
  animation: orange-button 0.2s ease-in 0s 1 normal forwards;
  padding: 0 34px 0 34px;
  border: 1px solid rgb(226, 124, 58);
}

.about-view-btn {
  height: 50px;
  border-radius: 5px;
  margin: 0 0 0 30px;
  padding: 0 30px 0 30px;
  background-color: white;
  border: 1px solid rgb(226, 124, 58);
  color: rgb(226, 124, 58);
}

.about-view-btn:hover {
  animation: white-button 0.2s ease-in 0s 1 normal forwards;
}

.left-section {
  display: flex;
  width: 555px;
  align-items: center;
}

.left-section h1 {
  font-size: 55px;
}

.right-section {
  margin: 0 40px 0 0;
  background-image: url(/image.png);
  height: 700px;
  width: 555px;
  background-size: cover;
}

footer {
  background-color: #f9f9f9;
}

.footer-content {
  display: flex;
  flex-direction: column;
  padding: 20px 0 0 0;
  position: relative;
  z-index: 2;
  align-items: center;
}

.footer-content p {
  color: rgb(226, 124, 58);
}

.footer-content h1 {
  margin: -5px 0 30px 0;
}

@keyframes toggler-color {
  from {
    background-color: black;
  }
  to {
    background-color: rgb(226, 124, 58);
  }
}

@keyframes navbar-color {
  from {
    color: black;
  }
  to {
    color: rgb(226, 124, 58);
  }
}

@keyframes white-button {
  from {
  }
  to {
    background: rgb(226, 124, 58);
    color: white;
  }
}

@keyframes orange-button {
  from {
  }
  to {
    background: white;
    color: rgb(226, 124, 58);
  }
}

@media (max-width: 1200px) {
  .panel li {
    margin: 0 10px 0 10px;
  }
  .about {
    height: auto;
    justify-content: space-between;
  }
  .left-section-block h1 {
    font-size: 36px;
  }
  .left-section-block p {
    font-size: 12px;
  }
  .right-section {
    margin: 0 0 0 0;
    height: 567px;
    width: 450px;
    top: 47px;
  }
}
@media (max-width: 1090px) {
  .right-section {
    margin: 0 20px 0 0;
    height: 529px;
    width: 420px;
    top: 47px;
  }
}
@media (max-width: 1024px) {
  .nav-bar {
    display: none;
  }
  .nav-bar-tablet {
    background-color: #f3f3f3;
    width: 100%;
    display: block;
    position: fixed;
    top: 0;
    z-index: 100;
  }
  .content {
    display: flex;
    justify-content: center;
    padding: 20px 0 30px 0;
    margin: 60px 0 0 0;
  }
  .about {
    flex-direction: column-reverse;
    padding: 0 0 0 0;
  }
  .left-section {
    justify-content: center;
  }
  .right-section {
    height: 688px;
    width: 555px;
    margin: 0 0 0 0;
    padding: 20px 0 0 0;
    position: static;
    top: 0;
  }
  .calling-btn {
    margin: 0 0 0 0;
  }
}

@media (max-width: 720px) {
  .right-section {
    height: 630px;
    width: 500px;
  }
}

@media (max-width: 560px) {
  .right-section {
    height: 567px;
    width: 450px;
  }
  .left-section {
    width: auto;
  }
  .tablet-menu button {
    display: block;
    margin: 15px 0 15px 0;
  }
}
@media (max-width: 450px) {
  .right-section {
    height: 441px;
    width: 350px;
  }
}
